<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="biubiubiu2.db.dao.VipersMapper">

	<select id="findAllVipers" resultType="biubiubiu2.db.pojo.Vipers">
		select * from vipers
	</select>

	<select id="findUsersByVipersRange" parameterType="java.lang.Integer"
		resultType="biubiubiu2.db.pojo.UsersRange">
		select users.*,vipers.range
		from vipers,users 
		where users.name = vipers. name and vipers.range=#{range}
	</select>
</mapper>